DATABASE_URL="postgresql://masum:@localhost:5432/sample_login_users?schema=public"
BETTER_AUTH_SECRET=fsffdg4lO965cFUAVjaGghdfjKI0EfCyb
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000